.tela {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('src\app\imagens\watercolor-5062356_960_720.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


.area1
{
    position: relative;
    top:55%;
    left: 25%;
    transform: translate(-50%,-50%);
    width:600px;
    height: 550px;
    box-sizing: border-box;
    background:rgba(0,0,0,0.5);
    background-color: white;
    padding: 40px; 
}

.area1 input[type=submit]
  {
      border:none;
      height: 40px;
      width:400px;
      outline: none;
      color: #ffffff;
      font-size: 15px;
      background-color: DodgerBlue;
      cursor:pointer;
      border-radius: 100px;
  }
  
  .area1 input[type=submit]:hover
  {
      background-color:SkyBlue ;
      color: #ffffff;
  }

  h2{
  
    margin:20px;
     padding: 0 0 20px;
    font-weight: bold;
    color: grey;
 }
  

 .area2
{
    position: relative;
    top:-60%;
    left: 75%;
    transform: translate(-50%,-20%);
    width:670px;
    height: 623px;
    box-sizing: border-box;
    background:rgba(0,0,0,0.5);
    background-color: transparent ;
    padding: 80px; 
}

h5{
  
    margin:0px;
     padding: 0 0 0px;
    font-weight: bold;
    color: white;
 }
  
 .img {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('https://cdn.pixabay.com/photo/2018/03/27/21/43/startup-3267505_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
