<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
      
  </head>

  <body>
    <div class="tela"></div>
    <div class="form-area">
    	<h2>Tela de acesso</h2>
    	<form action="">
    		<p>Email:</p>
    		<input type="text" name="" placeholder="Email">

    		<p>Senha:</p>
    		<input type="password" name="" placeholder="Senha">

    		
    	

    		<input type="submit" name="" value="Logar">

    		<a href="">Esqueceu sua senha?</a>
    	</form>
    </div>



  </body>
</html>


